@CHARSET "UTF-8";

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5,
	h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul, img {
	margin: 0;
	padding: 0;
}

body {
	background: black;
	overflow: hidden
}

/*li{
float:left;
 width: 100px;
 height: 100px;
 overflow: hidden; 超出部分隐藏
}*/
ul {
	list-style: none
}

.clearfix:after {
	display: block;
	content: "\20";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.img-container li img {
	
}

.img-container li {
	overflow: hidden;
	float: left;
}

.large {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black
}